@keyframes fadeInUp {
    0% {
        transform: scale(1);
        color: black;
    }
    
    50%{
        color: whitesmoke;
    }

    100% {
        transform: scale(1.03);
        color: blue;
    }
}