.app {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.task-input input {
  padding: 8px;
  width: 70%;
}

.task-input button {
  padding: 8px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.task.done span {
  text-decoration: line-through;
  color: gray;
}
